
            .menu {
               overflow: hidden;
               background-color: #070a07;
                 font-family: Arial;
                 width: 300%;
                 height:50px;
                 padding-left: 15px;
                 padding-top:10px;
            }
            .menu a
            {
                float: left;
                font-size: 25px;
                text-decoration-color: white;
                padding: 10px;
                text-align: center;
                color: white;
                text-align: right;
            
            }
            .c_signup
            {
                background-color: white;
                opacity: 0.9;
                width:500px;
                height: 800px;
                margin-top: 50px;
                margin-left: 400px;
                padding-left: 20px;
                background-image: url(i2.jpeg);
                  border-radius: 40px;
             }
			
		.c_edit
            {
                background-color: white;
                opacity: 0.9;
                width:500px;
                height: 800px;
                margin-top: 50px;
                margin-left: 400px;
                padding-left: 20px;
                background-image: url(i2.jpeg);
                  border-radius: 40px;
             }




            .c_signin
            {
                background-color: white;
                opacity: 0.9;
                width:500px;
                height: 300px;
                margin-top: 20px;
                margin-left: 400px;
                padding-top: 50px;
                padding-left: 20px;
                border-color:red;
                background-image: url(i2.jpeg);
                border-radius: 40px;
        
            }
            label{
                text-align: left;
                float: left;
            }
            .textboxalign
            {
                 margin-left: 200px;
                 width: 50%;
                 height: 30px; 
                 border-radius: 5px;
            }
           input[type=radio]
           {
            margin-left: 130px;
            padding-left: 150px;
          

           }
           input[type=submit],input[type=reset]
           {
               background-color: black;
               width: 90px;
               height: 40px;
               color: white;
               margin-left: 100px;
               border-radius: 20px;     
               
           }
           input[type="reset"]:hover
           {
            background-color: green;
           }
           input[type="submit"]:hover
           {
            background-color:green;
           }
           .container
           {
            padding: 10px;
           }
           .head_align
           {
               padding-left: 200px; 
           }
           a:hover{
               background-color: green;
           }
        